h1{
    color: blue;
}

.master-div-1{
    width:100%;
    height:10%;
    background-color: #1F2937;
    padding-bottom:0.1px;
}

.header-box{
    display: flex;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    /* justify-content: flex-start; */
    align-items:center;
    gap: 15px;
}

img.header-item{
    width: 80px;
    height: 80px;
    margin-right:auto;
    
}
a.header-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sign-up-img-div{
    display:flex;
    margin-top:7%;
    margin-bottom:7%;
    margin-left: 10%;
    margin-right: 10%;
    /* justify-content: center; */
    
}

.sign-up{
    flex:1;
    display:flex;
    flex-direction: column;
   
}

.img-div{
    flex:1;
    
}

.sign-up-button{
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin-top: auto;
    background-color: #3882F6;
    flex-basis: 30px;
    width:fit-content;
    padding-left:30px;
    padding-right:30px;
    color: #F9FAF8;
    border-radius:8px;   
}

.sign-up-title, .sign-up-text{
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sign-up-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.sign-up-text, a.header-item{
    color: #E5E7EB;
    font-size:18px;

}


.img-item{
    width:100%;
}

.master-div-2-images{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-div-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.img-p{
    text-align: center;
    color: yellowgreen;
}



